* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */

/* Background images */
body {
  background-color: white;
  background-image: url("../img/top-image.png");
  background-image: url("../img/top-image.png"), url("../img/bottom-image.png"), linear-gradient(0deg, rgba(0,0,0,0.1) 5%, rgba(0,0,0,0) 12%, rgba(0,0,0,0) 88%, rgba(0,0,0,0.1) 95%);
  background-position: top right, bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0px;
}

main {
  border: solid #9a3a0a;
  border-width: 1mm 0mm;
}

/* Logo */
h1 {
  background-image: url("../img/logo.png");
  /*filter: drop-shadow(2mm 2mm 1mm black);*/
  box-shadow: 2mm 2mm 1mm hsl(0 0 0 / 0.5);
  border-radius: 50%;
}

/* Main Letter */
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h2 {
  text-align: center;
  border-bottom: 1mm solid #9a3a0a;
  padding-bottom: 5mm;
}

.two-columns {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.column p {
  padding: 0mm 2mm;
}

/* Radio Button Form */
.radio-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}